.project-page-container {
  color: #333;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.4);
}

h3 {
  font-size: 1.5em !important;
  margin: 0;
  text-shadow: 0 0 3px rgba(0,0,0,0.3);
}


.project-page-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12-column grid for flexibility */
  gap: 2rem; /* Space between items */
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Title */
.page-title {
  grid-column: span 12; /* Full width */
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
}

/* Image Carousel */
.image-carousel {
  grid-column: span 6; /* Full width */
  height: 300px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: auto;
  }

  .swiper-slide > img {
      max-width: 70%;
      max-height: 70%; 
      object-fit: contain;
      display: block; 
      margin: 0 auto; 
  }

/* Pull Quotes */
.pull-quote {
  grid-column: span 6; /* Half width */
  font-size: 1.2rem;
  font-style: italic;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quote-container {
  background: rgba(255, 255, 255, 0.95);
  border-radius: 8px;
  padding: 1em;
  width: calc(100% - 2em);
  height: calc(100% - 2em);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Georgia', serif;
}

.button {
  grid-column: span 12; /* Full width */
  text-align: center;
  padding: 0.75rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background: linear-gradient(90deg, #8100cc, #4d00b4); /* Initial gradient */
  background-size: 200% 100%; /* Make gradient larger for smooth animation */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background-position 0.2s ease, box-shadow 0.2s ease; /* Smooth animation for gradient */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add a soft shadow */
}

.button:hover {
  background-position: 100% 0; /* Animate gradient movement */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Maintain the soft shadow */
}

.explore-button button:hover {
  background-color: #005bb5;
}

/* Longer Text */
.long-text {
  grid-column: span 12; /* Full width */
  font-size: 1rem;
  line-height: 1.6;
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Georgia', serif;
}

/* Info Boxes */
.info-box {
  grid-column: span 4; /* Each box takes 1/3 of the width */
  background-color: #f4f4f4;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;

  background-repeat: no-repeat;
  background-position: 145% -60%;
  background-size: 60%;
}

.info-box .left-text-content {
  text-align: left;
}

.info-box h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.info-box p {
  font-size: 0.9rem;
  color: #555;
}

.info-box ul {
  list-style-type: none;
  padding: 0;
}

.info-box li {
  margin-bottom: 0.5rem;
}

.events-box {
  //background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23ddd"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" /></svg>');
  //background-position: 135% 160%;
}

.publications {
  //background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23ddd"><path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" /></svg>');
  //background-position: 135% 160%;
}

.people {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23ddd"><path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" /></svg>');
}

.cooperation {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23ddd"><path stroke-linecap="round" stroke-linejoin="round" d="m20.893 13.393-1.135-1.135a2.252 2.252 0 0 1-.421-.585l-1.08-2.16a.414.414 0 0 0-.663-.107.827.827 0 0 1-.812.21l-1.273-.363a.89.89 0 0 0-.738 1.595l.587.39c.59.395.674 1.23.172 1.732l-.2.2c-.212.212-.33.498-.33.796v.41c0 .409-.11.809-.32 1.158l-1.315 2.191a2.11 2.11 0 0 1-1.81 1.025 1.055 1.055 0 0 1-1.055-1.055v-1.172c0-.92-.56-1.747-1.414-2.089l-.655-.261a2.25 2.25 0 0 1-1.383-2.46l.007-.042a2.25 2.25 0 0 1 .29-.787l.09-.15a2.25 2.25 0 0 1 2.37-1.048l1.178.236a1.125 1.125 0 0 0 1.302-.795l.208-.73a1.125 1.125 0 0 0-.578-1.315l-.665-.332-.091.091a2.25 2.25 0 0 1-1.591.659h-.18c-.249 0-.487.1-.662.274a.931.931 0 0 1-1.458-1.137l1.411-2.353a2.25 2.25 0 0 0 .286-.76m11.928 9.869A9 9 0 0 0 8.965 3.525m11.928 9.868A9 9 0 1 1 8.965 3.525" /></svg>');

  }

.financier {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23ddd"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 21h16.5M4.5 3h15M5.25 3v18m13.5-18v18M9 6.75h1.5m-1.5 3h1.5m-1.5 3h1.5m3-6H15m-1.5 3H15m-1.5 3H15M9 21v-3.375c0-.621.504-1.125 1.125-1.125h3.75c.621 0 1.125.504 1.125 1.125V21" /></svg>');
  }

.cards {
}

.cards ul {
}

.cards li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    background: linear-gradient(90deg, #4d00b4, #037eaf);
    background: #fff;
    border: 1px solid #ccc;
    border-left: 6px solid rgb(16, 207, 255);
      border-radius: 8px;
  }


  .cards a {
      text-decoration: none;
  }

.cards a li {
    color: #000;
}

/* Responsive Design */
@media (max-width: 768px) {
  .project-page-container {
    grid-template-columns: repeat(6, 1fr); /* Adjust to 6 columns */
  }

  .pull-quote {
    grid-column: span 6; /* Full width on smaller screens */
  }

  .info-box {
    grid-column: span 6; /* Full width for each box */
  }
}


