.App {
  text-align: center;
}

.project-page {
  display: grid;
  background: rgba(255, 255, 255, 0.5);
  width: 80vw;
  min-width: 400px;
  height: auto;
}

.project-page-container {
  color: #333;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  color: #fff;
  text-shadow: 0 0 10px rgba(0,0,0,0.4);
}

h3 {
  font-size: 1.5em !important;
  margin: 0;
  text-shadow: 0 0 3px rgba(0,0,0,0.3);
}

.highlight {
  font-weight: bold;
  font-size: 1.2em;
}

.project-page-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12-column grid for flexibility */
  gap: 2rem; /* Space between items */
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}



#footer {
  margin-top: 6em;
  left: 0;
  background: #000033;
  color: #fff;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100vw;
  z-index: 100;
}

#humlab-umu-logo {
  height: 100px;
}