@font-face {
  font-family: 'HarlowSolidPlain'; /* Name of the font */
  src: url('../assets/HarlowSolidPlain.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
  background: #fff;
  font-family: verdana;
  margin:0;
  padding: 0;
}

h1 {
  color: #fff;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: "HarlowSolidPlain", "Italianno", cursive;
  font-size: 5em;
  font-weight: normal;
  text-shadow: 0 0 10px rgba(0,0,0,0.4);
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  z-index: -1;
}

#canvas-container {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  margin:0;
  padding:0;
}

#tint {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  margin:0;
  padding:0;
  background: #fff;
  opacity: 0.0;
}

#main-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: #444;
  margin: 0;
  padding: 0;

  color: #fff;
  padding: 0;
  margin: 0;
  margin-bottom: 0em;
  background-image: url('../public/assets/gfx/showcase-banner2.svg');
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #000033;
}

#content-container {
  position: relative;
  padding-top: 4em;
  //background-image: url('../public/assets/gfx/BG.svg');
  overflow: hidden;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //background-color: #0f0541;
  //background: linear-gradient(to bottom, #000033, #0a0330, #060220, #030110, #000000);
}

.text-container {
  padding: 1em;
}

#main-gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 320px));
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  row-gap: 4rem;
  margin: 0 auto;
  margin-bottom: 5em;
  padding: 1rem;
  width: 80vw;
}

.project-tile {
  display: block;
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 1em;
  padding: 0;
  box-shadow: 0 0 30px 10px rgba(0,128,128,0.5);
  border: 2px solid #fff;
  
  background-color: rgba(255, 255, 255, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}

.project-tile-link {
  position: relative;
  text-decoration: none;
  max-width: 300px;
  max-height: 300px;
  justify-self: center;
}

.project-tile-link h2 {
  position: absolute;
  top: -2em;
  font-size: 1.5em;
  margin: 0;
  color: #fff;
  text-shadow: 2px 0px 5px rgba(0,128,128, 1.0);
  border-radius:1em;
  max-width: 300px;
  margin-bottom: 0.5em;
}

.project-tile:hover {
  cursor: pointer;
  transform: translateY(-10px);
  transition: transform 0.1s;
}
